<router-outlet></router-outlet>

<nav class="navbar navbar-expand-lg navbar-dark">
  <a>
    <img width = "25">
  </a>
  <a class="navbar-brand" routerLink="/home" href="#"><img src = "https://i.imgur.com/8KWbNeL.png" width="125" height="50"/></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>



  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/buy" routerLinkActive="active"><strong>Buy</strong></a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" routerLink="/special-events" routerLinkActive="active"><strong>Sell</strong></a>
      </li>
    </ul>
    <ul *ngIf="!loggedIn()" class="navbar-nav">
        <a class="nav-link"  routerLink="/login" routerLinkActive="active"><strong>Login</strong></a>
        <a class="nav-link"  routerLink="/register" routerLinkActive="active"><strong>Register</strong></a>    
    </ul>

  </div>
  <div>
    <ul *ngIf="loggedIn()" class="navbar-nav">
      <a class="nav-link" routerLink="/profile" routerLinkActive="active"><strong>Profile</strong></a>
    </ul>
    
  </div>
  <div>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    </p>
    
  </div>

</nav>  


<div class="container">
  <router-outlet></router-outlet>            
</div>



